{% extends 'base.html' %}

{% block title %}Créditos - Cursos Online{% endblock %}

{% block header_title %}Créditos{% endblock %}
{% block header_subtitle %}El equipo detrás del proyecto{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h2>Desarrollador y Diseñador</h2>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="fas fa-user-circle fa-5x text-primary"></i>
                    </div>
                    <h3 class="card-title">Edwin Patzan</h3>
                    <h5 class="text-muted">Desarrollador en Django</h5>
                    <p class="card-text mt-4">
                        Estudiante de la Mariano Galvez, apasionado por la programacion
                    </p>
                    
                    <div class="row mt-4">
                        <div class="col-md-4">
                            <h6>Tecnologías Utilizadas</h6>
                            <ul class="list-unstyled">
                                <li><i class="fab fa-python"></i> Python</li>
                                <li><i class="fab fa-django"></i> Django</li>
                                <li><i class="fab fa-html5"></i> HTML5</li>
                                <li><i class="fab fa-css3-alt"></i> CSS3</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h6>Framework CSS</h6>
                            <ul class="list-unstyled">
                                <li><i class="fab fa-bootstrap"></i> Bootstrap 5</li>
                                
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h6>Herramientas</h6>
                            <ul class="list-unstyled">
                                <li><i class="fab fa-git-alt"></i> Git</li>
                                <li><i class="fab fa-github"></i> GitHub</li>
                                <li><i class="fas fa-code"></i> VS Code</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Información del Proyecto</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Descripción</h6>
                            <p>Plataforma web para cursos en línea desarrollada con Django. 
                               El proyecto incluye páginas para videos educativos, gestión de usuarios 
                               y sección de créditos.</p>
                        </div>
                        <div class="col-md-6">
                            <h6>Características</h6>
                            <ul>
                                <li>Diseño responsive con Bootstrap</li>
                                <li>Navegación intuitiva</li>
                                <li>Gestión de contenido dinámico</li>
                                <li>Integración con Django templates</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-lg-12 text-center">
            <h5>¡Gracias por visitar la plataforma!</h5>
            
        </div>
    </div>
{% endblock %}