{% extends 'base.html' %}

{% block title %}Inicio - Cursos Online{% endblock %}

{% block header_title %}Bienvenido a Cursos Online{% endblock %}
{% block header_subtitle %}Tu plataforma de aprendizaje digital{% endblock %}

{% block content %}
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7 text-center">
            <h2>¡Bienvenido!</h2>
            <p class="lead">Esta es tu plataforma de cursos en línea.</p>
            <p>Utiliza el menú de navegación superior para explorar las diferentes secciones.</p>
        </div>
    </div>
{% endblock %}